body{
  background-color: #f0ecff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

p{
  margin: 5px 0;
}

@font-face {
  font-family: "MyFont";
  src: url("../public/Fonts/IBM_Plex_Sans_Arabic,Roboto_Mono/Roboto_Mono/static/RobotoMono-Light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "MyFont";
  src: url("../public/Fonts/IBM_Plex_Sans_Arabic,Roboto_Mono/Roboto_Mono/static/RobotoMono-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "MyFont";
  src: url("../public/Fonts/IBM_Plex_Sans_Arabic,Roboto_Mono/Roboto_Mono/static/RobotoMono-Bold.ttf");
  font-weight: 900;
}
